---
layout: page
type: index
---
{% include setup %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <center>
      <figure class="kudo kudoable" data-id="1">
        <a class="kudobject">
          <div class="opening">
            <div class="circle">&nbsp;</div>
          </div>
        </a>
        <a href="#kudo" class="count">
          <span class="num">∴</span>
          <span class="txt">kudos</span>
        </a>
      </figure>
      <hr />
      Some common info you already know. <br />
      I'll surely write it. <br />
      <br />
      Later. <br />
      <hr />
        <p> 
          <i class="icon-twitter"></i>
          <a href="https://twitter.com/ch3sh1r"> Твиттер</a>
        </p>
        <p> 
          <i class="icon-github-alt"></i>
          <a href="https://twitter.com/ch3sh1r"> Гитхаб</a>
        </p>
        <p> 
          <i class="icon-rss-sign"></i>
          <a href="http://feeds.feedburner.com/ch3sh1r?format=xml"> Фид</a>
        </p>
      </center>
    </div>
    <div class="span10">
      <article>
        <h2><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h2>
        {{ site.posts.first.content }}
      </article>
      {% include feedback %}
    </div>
  </div>
</div>
