---
layout: page
type: index
---
{% include setup %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <center>
        <figure class="kudo kudoable" data-id="1">
          <a class="kudobject">
            <div class="opening">
              <div class="circle">&nbsp;</div>
            </div>
          </a>
          <a href="#kudo" class="count">
            <span class="num">∴</span>
            <span class="txt">kudos</span>
          </a>
        </figure>
        <hr />
        Some common info you already know. <br />
        I'll surely write it. <br />
        <br />
        Later. <br />
        <hr />
        <div class="btn-group btn-group-vertical">
          <a href="https://twitter.com/ch3sh1r" class="btn">
            <i class="icon-twitter"></i> Твиттер</a>
          <a href="https://twitter.com/ch3sh1r" class="btn">
            <i class="icon-github-alt"></i> Гитхаб</a>
          <a href="/archive.html" class="btn">
            <i class="icon-folder-close"></i> Архив</a>
          <a href="http://feeds.feedburner.com/ch3sh1r?format=xml" class="btn">
          <i class="icon-rss-sign"></i> Фид</a>
        </div>
        <hr />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.ru_RU">
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" />
        </a>
      </center>
    </div>
    <div class="span10">
      <article>
        <h2><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h2>
        {{ site.posts.first.content }}
      </article>
      {% include feedback %}
    </div>
  </div>
</div>
