---
layout: page
title: Теги
---
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <center>
            <ul class="tags inline">
              {% if site.tags.first[0] == null %}
                {% for tag in site.tags %} 
              <li><a href="/tags.html#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
                {% endfor %}
              {% else %}
                {% for tag in site.tags %} 
              <li><a href="/tags.html#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
                {% endfor %}
              {% endif %}
            </ul>
          </center>
        </div>
        {% assign i = 0 %}
        {% assign j = 4 %}
        <div class="col-md-4">
          <div class="container">
            {% for tag in site.tags %} 
              {% assign i = i | plus:1 %}
              {% if i == j %}
            <div class="row">
              {% endif %}
              <div class="col-md-3 tags-block"> 
                <h3 id="{{ tag[0] }}-ref" class="">{{ tag[0] }}</h3>
                  {% for node in tag[1] %}
                    {% if group == null or group == node.group %}
                  <p><a href="/{{node.url}}">{{node.title}}</a></p>
                    {% endif %}
                  {% endfor %}
                  {% assign group = nil %}
              </div>
              {% if i == j %}
            </div>
                {% assign j = j | plus:3 %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% assign i = nil %}
    {% assign j = nil %}
