{% include setup %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/carousel.css" rel="stylesheet">
    <style type="text/css" id="holderjs-style">
        .holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}
    </style>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon.png">
  </head>
  <body>
    {% if page.type == "index" %}
        {% include carousel %}
    {% endif %}
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include pages_list %}
              <li><a href="http://feeds.feedburner.com/ch3sh1r"> 
                  <i class="icon-bookmark"></i> RSS
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.navbar -->
    <div class="container">
      <div class="featurette">
        {{ content }}
      </div>
      <!--<footer>-->
        <!--TODO: Add some of footer.-->
      <!--</footer>-->
    </div><!-- /.container -->
    {% include analytics %}
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="js/holder.js"></script>
  </body>
</html>
