<!DOCTYPE html>
<html>
  <head>
    {% if page.type == "index" %}
    <title>@ch3sh1r blogs.</title>
    {% else %}
    <title>{{page.title}} — @ch3sh1r blogs.</title>
    {% endif %}

    <meta name="author" content="Aleksei Bedniakov" />
    <meta name="description" content="Writings by Aleksei Bedniakov" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="icon" href="/static/img/favicon.ico" />
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png" />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/ch3sh1r" />
    <link rel="canonical" href=" { { site.url } }{ { page.url } }" />

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/base.css">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="https://use.fontawesome.com/8f113412d0.js"></script>
  </head>
  <body>
    {{content}}
    {% assign tags_list = page.tags %}
  </body>
</html>
