<!DOCTYPE html>
<html>
  <head>
    {% if page.type == "index" %}
    <title>@ch3sh1r blogs.</title>
    {% else %}
    <title>{{page.title}} — @ch3sh1r blogs.</title>
    {% endif %}

    <meta name="author" content="Alexey Bednyakov" />
    <meta name="description" content="Writings by Alexey Bednyakov." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-Compatible" content="ie=edge" />

    <link rel="icon" href="/img/favicon.ico" />
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png" />
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/ch3sh1r" />

    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    {{content}}
    <script src="/js/jquery.js"></script>
    <script src="/js/jstorage.js"></script>
    <script src="/js/kudos.js"></script>
    <script src="/js/parse.min.js"></script>
    <script src="/js/parse-kudos.js"></script>

    {% assign tags_list = page.tags %}
    {% for tag in tags_list %} 
      {% if tag == "math" %}
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
          });
        </script>
        <script type="text/javascript" src="/mathjax/MathJax.js?config=TeX-AMS_HTML-full"></script>
      {% endif %}
    {% endfor %}

    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter14511775 = new Ya.Metrika({id:14511775,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/14511775" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </body>
</html>
