---
layout: default
---
<div class="page-header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        {{page.title}}
      </div>
      <div class="span6">
        <b><a href="/" class="blog-link">@ch3sh1r blogs.</a></b>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      {{content}}
      <hr />
        <div class="blog-feedback">
            <h2 class="blog-feedback-header">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Хочется поговорить — пишите в твиттер: <a href="https://twitter.com/intent/tweet?text=@ch3sh1r%20&amp;related=ch3sh1r&amp;url=http://ch3sh1r.gihub.io{{page.url}}" target="blank">@ch3sh1r</a>
          </h2>
          <p class="blog-feedback-description">
            Я с большой вероятнотсью увижу все написанное в Твиттере.
            Для надежности и для более развернутого диалога есть почта 
            <a href="mailto:ch3sh1r@ya.ru">ch3sh1r@ya.ru</a>.
          </p>
        </div>
    </div>
    <div class="span3">
      <center>
        <figure class="kudo kudoable" data-id="1">
          <a class="kudobject">
            <div class="opening">
              <div class="circle">&nbsp;</div>
            </div>
          </a>
          <a href="#kudo" class="count">
            <span class="num">∴ </span>
            <span class="txt">kudos</span>
          </a>
        </figure>
        <hr />
        <h4 class="tags">tags</h4>
        {% unless page.tags == empty %}
          <ul class="tags">
            {% assign tags_list = page.tags %}
            {% if tags_list.first[0] == null %}
              {% for tag in tags_list %} 
                <li><a href="/tags.html#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
              {% endfor %}
            {% else %}
              {% for tag in tags_list %} 
                <li><a href="/tags.html#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
              {% endfor %}
            {% endif %}
            {% assign tags_list = nil %}
          </ul>
        {%endunless%}  
        <hr />
          <div class="social">
            <a href="https://twitter.com/ch3sh1r"><span class='symbol'>&#xe286;</span></a>
            <a href="https://github.com/ch3sh1r"><span class='symbol'>&#xe237;</span></a>
            <a href="http://feeds.feedburner.com/ch3sh1r?format=xml"><span class='symbol'>&#xe271;</span></a>
          </div>
        <hr />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.ru_RU">
          <img alt="Creative Commons License" style="border-width:0" src="/img/cc-by-sa.png" />
        </a>
        <br />
      </center>
    </div>
  </div>
</div>
