---
layout: default
---
<div class="container page-header">
  <h1>{{page.title}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{content}}
    </div>
    <div class="col-md-3">
      <center>
        <a href="/"><img src="/static/img/smile.png"></a>
        <hr />
        <h4 class="tags">tags</h4>
        {% unless page.tags == empty %}
          <ul class="tags">
            {% assign tags_list = page.tags %}
            {% if tags_list.first[0] == null %}
              {% for tag in tags_list %}
                <li><a href="/tags.html#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
              {% endfor %}
            {% else %}
              {% for tag in tags_list %}
                <li><a href="/tags.html#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
              {% endfor %}
            {% endif %}
            {% assign tags_list = nil %}
          </ul>
        {%endunless%}
        <hr />
        <div class="social">
          <a href="https://twitter.com/ch3sh1r">
            <i class="fa fa-twitter-square fa-2x"></i>
          </a>
          <a href="https://github.com/ch3sh1r">
            <i class="fa fa-github-square fa-2x"></i>
          </a>
          <a href="http://feeds.feedburner.com/ch3sh1r?format=xml">
            <i class="fa fa-rss-square fa-2x"></i>
          </a>
        </div>
      </center>
    </div>
  </div>
</div>
